[user]
	name = Prasanna Loganathar
	email = pvl@prasannavl.com
	signingkey = A46820D5E4D1E03B
[core]
	autocrlf = input
[credential]
	helper = /usr/bin/env git-credential-libsecret

[commit]
	gpgsign = true
[grep]
	extendRegexp = true
	lineNumber = true
[alias]
	logo = log --oneline
	logx = log --pretty=format:"%h%x09%an%x09%ad%x09%s"
