[user]
	name = Prasanna Loganathar
	email = pvl@prasannavl.com
	signingkey = A46820D5E4D1E03B
[core]
	autocrlf = input
[credential]
	helper = /usr/bin/env git-credential-libsecret

[commit]
	gpgsign = true
